// Variables
$main-color: #ff7a7a;
$trial: #6055a5;
$form-btn: #38cc8c;
$form-btn-border: #2fb67c;
$bottom-shadow: 0 7px rgba(62, 60, 73, 0.25);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Margin
.m-1 { margin: 10px}
.my-1 { margin: 10px 0;}
.mx-1 { margin: 0 10px;}

.m-2 { margin: 20px;}
.my-2 { margin: 20px 0;}
.mx-2 { margin: 0 20px;}

.m-3 { margin: 30px;}
.my-3 { margin: 30px 0;}
.mx-3 { margin: 0 30px;}

/* Padding */
.p-1 { padding: 10px}
.py-1 { padding: 10px 0;}
.px-1 { padding: 0 10px;}

.p-2 { padding: 20px;}
.py-2 { padding: 20px 0;}
.px-2 { padding: 0 20px;}

.p-3 { padding: 30px;}
.py-3 { padding: 30px 0;}
.px-3 { padding: 0 30px;}


body {
  background-color: $main-color;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0 10%;
}

a {
  text-decoration: none;
  color: $main-color;
  transition: 0.3s ease-in;
}

a:hover {
  color: #fc9b9b;
}

body h1, body p {
  text-align: center;
}

body p {
  line-height: 1.6rem;
}

.container {
  background-image: url(../images/bg-intro-mobile.png);
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // align-items: center;
  // justify-content: space-around;
  // height: 100%;
}

.trial {
  background-color: $trial;
  border-radius: 1rem;
  box-shadow: $bottom-shadow;
  padding: 2rem;
}

#contact-form {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: $bottom-shadow;
  color: #333;
  padding: 2rem;
  // text-align: center;
  width: 100%;
}

#contact-form label {
  display: block;
}

#contact-form input {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
}

#contact-form input:focus {
  outline: none;
  border-color: $main-color;
}

.form-group small {
  visibility: hidden;
}

.form-group.error small {
  color: red;
  font-weight: bold;
  visibility: visible;
}

.btn {
  background-color: $form-btn;
  border: 1px solid $form-btn-border;
  border-radius: .25rem;
  color: #fff;
  width: 100%;
}

#contact-form p {
  color: rgb(201, 199, 199);
  font-size: .75rem;
}

.terms {
  color: $main-color;
}

// Responsiveness - Media queries
@media(min-width: 1100px) {
  .container {
    background-image: url('../images/bg-intro-desktop.png');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .main-text {
    h1 {
      font-size: 3.25rem;
    }
    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }
    margin: 0 auto;
    width: 50%;
  }

  .right-side {
    margin: 0 5rem;
    width: 50%;
  }

  .btn {
    cursor: pointer;
    transition: 0.2s ease-in;
    outline: none;
  }

  .btn:active {
    transform: translateY(4px);
  }

  .btn:hover {
    background-color: #2fbb7e;
    border: 1px solid #239966;
    box-shadow: 0 2px rgba(62, 60, 73, 0.25);
  }
}